<div class="group-container">
    <div *ngFor="let group of participantGroups; index as index" class="participant-group">
        <div class="group-number">
            <strong>{{ group.voteValue }}</strong>
            <br />
            ({{group.length}})
        </div>
        <div class="group-participants">
            <div *ngFor="let participant of group"
                class="participant"
                pTooltip="{{participant.voteHistoryDisplay || '-' }}"
                tooltipPosition="top">
                {{ participant.preferredName[0] + participant.lastName[0] }}
            </div>
        </div>
    </div>
</div>
