<div class="poker-container">
    <div class="side-column">
        <app-item-list [workItems]="itemsToPoint"></app-item-list>
    </div>
    <div class="middle-column">
        <div class="header">
            <div class="current-item">
                {{ currentItem.itemNumber }}
            </div>
            <button
                [disabled]="itemsToPoint.length <= 0"
                (click)="lockInVotes()">
                Next Item
            </button>
        </div>
        <app-participants></app-participants>
        <div class="voting-buttons">
            <button *ngFor="let vote of allowedVotes"
                (click)="castVote(vote)">
                {{ vote.name || vote.value }}
            </button>
        </div>
    </div>
    <div class="side-column">
        <app-item-list [workItems]="pointedItems"></app-item-list>
    </div>
</div>
<div class="embed-container"></div>
