.group-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .user-group {
        display: flex;
        justify-content: flex-start;
        border: 4px solid black;
        background-color: black;
        border-radius: 10px;
        margin-bottom: 1rem;
        width: 75%;

        .group-number {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: default;
            border-right: 4px solid black;
            width: 3rem;
            color: white;
            font-size: 1.5em;
            font-style: italic;
        }

        .group-users {
            flex: 9;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            border-radius: 10px;
            background-color: white;

            .user {
                cursor: default;
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid 2px gray;
                color: black;
                border-radius: 100%;
                margin: 0.5rem;
                padding-top: 0.25em;
            }
        }

        .group-vote-count {
            position: relative;
            bottom: 0.25rem;
            right: 0.25rem;
        }
    }
}
