<div class="group-container">
    <div *ngFor="let group of participantGroups; index as index"
        class="participant-group">
        <div class="group-number">
            <strong>{{ group.voteValue }}</strong>
        </div>
        <div class="group-participants">
            <div *ngFor="let participant of group"
                class="participant"
                pTooltip="{{participant.preferredName + ' ' + participant.lastName + '\n'}} {{participant.voteHistoryDisplay || '-' }}"
                tooltipPosition="top">
                {{ participant.preferredName[0] + participant.lastName[0] | uppercase }}
            </div>
        </div>
    </div>
</div>
