<div class="poker-container" *ngIf="isConnected && isSignedIn; else signedOut">
    <!-- <div class="side-column">
        <app-item-list [workItems]="itemsToPoint"></app-item-list>
    </div> -->
    <div class="middle-column">
        <div class="header">
            <div class="current-item">
                {{ currentItem && currentItem.itemNumber || '-' }}
            </div>
            <p-button
                [disabled]="!currentItem"
                (click)="showModal()"
                label="Next Item"
                styleClass="ui-button-secondary">
            </p-button>
        </div>
        <app-users></app-users>
        <div class="voting-buttons">
            <!-- @Todo white out unselected buttons once one is selected -->
            <button
                pButton
                class="ui-button-rounded"
                *ngFor="let vote of allowedVotes"
                (click)="castVote(vote)"
                label="{{ vote.name || vote.value }}"
                [ngClass]="{ 'ui-button-primary': !currentVote || currentVote === vote.value, 'ui-button-secondary': currentVote && currentVote !== vote.value }">
            </button>
        </div>
    </div>
    <!-- <div class="side-column">
        <ul style="list-style: none;">
            <li *ngFor="let message of chatMessages">
                {{ message.message }}
            </li>
        </ul>
        <input #chatInput pInputText type="text" (keyup.enter)="sendChat(chatInput.value); chatInput.value = '';" />
    </div> -->
</div>
<ng-template #signedOut>
    <div *ngIf="isConnected; else disconnected" class="poker-container sign-in-form">
      <h1>Sign In</h1>
      just type your name and press enter
      <hr style="width: 30%"/>
      <input #firstName
          autofocus
          pInputText
          type="text"
          placeholder="first name"
          required
          (keyup.enter)="signIn(firstName.value, lastName.value)"/>
          <input
          #lastName
          pInputText
          type="text"
          placeholder="last name"
          required
          (keyup.enter)="signIn(firstName.value, lastName.value)"/>
    </div>
    <ng-template #disconnected>
      <h1 class="poker-container sign-in-form">...connecting...</h1>
    </ng-template>
</ng-template>

<p-dialog header="New Item Number"
  [draggable]="false"
  [modal]="true"
  [closeOnEscape]="true"
  class="confirm-modal"
  [closable]="false"
  [closeOnEscape]="true"
  [(visible)]="shouldShowModal">
  <input #newItem
    pInputText
    type="text"
    (keyup.enter)="submitNewItem(newItem.value) && newItem.value = ''"
    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
  <p-footer>
    <p-button
      label="Cancel"
      (click)="newItem.value = null; hideModal()">
    </p-button>
    <p-button
      label="Submit"
      [disabled]="!newItem.value"
      (click)="submitNewItem(newItem.value) && newItem.value = ''">
    </p-button>
  </p-footer>
</p-dialog>
