<div class="poker-container" *ngIf="isSignedIn; else signedOut">
    <div class="side-column">
        <app-item-list [workItems]="itemsToPoint"></app-item-list>
    </div>
    <div class="middle-column">
        <div class="header">
            <div class="current-item">
                {{ currentItem.itemNumber }}
            </div>
            <p-button
                [disabled]="!currentItem"
                (click)="lockInVotes()"
                label="Next Item">
            </p-button>
        </div>
        <app-users></app-users>
        <div class="voting-buttons">
            <button
                pButton
                *ngFor="let vote of allowedVotes"
                (click)="castVote(vote)"
                label="{{ vote.name || vote.value }}">
            </button>
        </div>
    </div>
    <div class="side-column">
        <ul style="list-style: none;">
            <li *ngFor="let message of chatMessages">
                {{ message.message }}
            </li>
        </ul>
        <input #chatInput pInputText type="text" (keyup.enter)="sendChat(chatInput.value); chatInput.value = '';" />
    </div>
</div>
<ng-template #signedOut>
    <div class="poker-container sign-in-form">
        <h1>Sign In</h1>
        just type your name and press enter
        <hr style="width: 30%"/>
        <input
            #firstName
            autofocus
            pInputText
            type="text"
            placeholder="first name"
            value="Tester"
            required
            (keyup.enter)="signIn(firstName.value, lastName.value)"/>
            <input
            #lastName
            pInputText
            type="text"
            placeholder="last name"
            value="McButts"
            required
            (keyup.enter)="signIn(firstName.value, lastName.value)"/>
    </div>
</ng-template>
