<div class="poker-container">
    <div class="side-column">
        <app-item-list [workItems]="itemsToPoint"></app-item-list>
    </div>
    <div class="middle-column">
        <div class="header">
            <div class="current-item">
                {{ currentItem.itemNumber }}
            </div>
            <p-button
                [disabled]="!currentItem"
                (click)="lockInVotes()"
                label="Next Item">
            </p-button>
        </div>
        <app-participants></app-participants>
        <div class="voting-buttons">
            <button
                pButton
                *ngFor="let vote of allowedVotes"
                (click)="castVote(vote)"
                label="{{ vote.name || vote.value }}">
            </button>
        </div>
    </div>
    <div class="side-column">
        todo embed description and AC if possible
    </div>
</div>
