.poker-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sign-in-form {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    * {
        margin: 0.5em;
    }
}

.side-column {
    flex: 1;
    height: 100%;
    background-color: gainsboro;
}

.middle-column {
    display: flex;
    flex: 2;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-left: 1px solid gray;
    border-right: 1px solid gray;

    .header {
        padding-top: 2rem;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .current-item {
            text-align: center;
            font-size: xx-large;
            font-weight: bold;
            color: black;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    app-users {
        flex: 3;
        width: 100%;
    }

    .voting-buttons {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 2rem;

        button {
            width: 4rem;
            margin: 0 0.5rem;
        }
    }
}
